<!-- <a [routerLink]="['/products']">Products</a><br>
<a [routerLink]="['/music']">Music</a><br>
<a [routerLink]="['/movies']">Movies</a>
<router-outlet></router-outlet> -->
<div class="app">
    <div *ngIf="card==0">
        <app-register (cardEvent)="receiveCard($event)" (profileEvent)="receiveProfile($event)">
        </app-register>
    </div>
    <div *ngIf="card==1">
        <app-login [profile]="profile" (cardEvent)="receiveCard($event)"></app-login>
    </div>
    <div *ngIf="card==2">
        <app-profile [profile]="profile"></app-profile>
    </div>
</div>